<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Documento de Solicitud de Permuta</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            line-height: 1.6;
        }
        h1, h2, h3 {
            color: #2E86C1;
        }
        p {
            font-size: 14px;
        }
    </style>
</head>
<body>
    <h1>Solicitud de Permuta</h1>
    <% estudiantes.forEach(est => { %>
        <p>Estimado/a <%= nombre_completo %>,</p>
    <% }); %>
    <p>Se ha generado el borrador de la permuta. Debes rellenar el documento y firmarlo para que la permuta se pueda cumplimentar por el siguiente estudiante.</p>
    
    <p>Atentamente,</p>
    <p>La administración del servicio de permutas</p>
</body>
</html>